html {
  background-color: black;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 20px;
  font-family: Arial;
  color: #ccc;
}

